<component name="ArtifactManager">
  <artifact type="war" name="springboot-jsp:war">
    <output-path>$PROJECT_DIR$/springboot-jsp/target</output-path>
    <root id="archive" name="springboot-jsp-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-jsp:war exploded" />
    </root>
  </artifact>
</component>